.create-board-form {
    display: flex;
    flex-direction: column;
}

.questions {
    display: flex;
    flex-direction: column;
}

.category {
    width: 8rem;
}

.dropdown {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    margin: 1rem 0rem;
}