.create-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-card-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.gif {
    cursor: pointer;
    width: 6em;
    margin: 0.3em;
}
